@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Onest", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  background-image: url("https://cdn.dribbble.com/userupload/6563439/file/original-85e79453fc9d0ef223353729e96d6777.jpeg?resize=1504x2005&vertical=center");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1.4fr 1.6fr;
  min-height: 100vh;
  min-width: 100vw;
}

.conteudo-frontal {
  position: relative;
  z-index: 2;
}

.weatherInfo {
  background: #1E1E2E;
  background: linear-gradient(266deg, rgba(30, 30, 46, 0) 0%, rgba(30, 30, 46, 1) 100%);

  display: flex;
  flex-direction: column;
  gap: 20px;

}

.weatherCityTemp {
  display: flex;
}




:root {
  --blur-amount: 12px;
  --blur-fade-start: 0%;
  --blur-fade-end: 80%;
}

.progressive-blur-container {
  position: relative;
  width: 70vw;
  max-width: 800px;
  overflow: hidden;
}

.progressive-blur-container img {
  display: block;
  width: 100%;
  height: auto;
}

/* É aqui que a mágica acontece! */
.progressive-blur-container::after {
  content: '';
  position: absolute;
  /* Cobre todo o container pai */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* 1. Aplica o blur em tudo que está atrás deste pseudo-elemento */
  backdrop-filter: blur(var(--blur-amount));
  -webkit-backdrop-filter: blur(var(--blur-amount));
  /* Para compatibilidade com Safari */

  /* 2. Cria uma máscara de gradiente para controlar onde o blur aparece */
  mask-image: linear-gradient(to right,
      /* A direção do gradiente */
      black var(--blur-fade-start),
      /* Onde o blur é 100% visível */
      transparent var(--blur-fade-end)
      /* Onde o blur é 0% visível (transparente) */
    );
  -webkit-mask-image: linear-gradient(to right,
      black var(--blur-fade-start),
      transparent var(--blur-fade-end));
}