
@keyframes deslizar {
    0% {
        opacity: 0.2; /* Começa um pouco visível pra dar um efeito de "chegada" */
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}