
.navigationRail{
    width: 100px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.buttonAdd{
    width: 50px;
    height: 50px;
    border-radius: 14px;
    border: none;
    background-color: var(--dominant-color, #4F378B); /* Cor dinâmica */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttonAdd:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
              0px 10px 15px rgba(0, 0, 0, 0.05);
}

.navAnchor{
    width: 50px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;

    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

.navAnchor div{
    background-color: #5c4b8800;
    width: 100%;
    min-height: 25px;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navAnchor div:hover{
    background-color: #9793a328;
}


.navAnchor .navAnchorActive{
    background-color: var(--dominant-color-darker, #5c4b8869); /* Cor dinâmica mais escura */
    width: 100%;
    min-height: 25px;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.context-menu {
    position: absolute;
    z-index: 1010; /* Acima do overlay do modal */
    width: 150px;
    background-color: #00000073;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 8px;
}

.context-menu-item {
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 6px;
    color: #f0f0f0;
}

.context-menu-item:hover {
    background-color: var(--dominant-color, #4F378B); /* Cor dinâmica */
}


/* Estilos para o Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #00000050;
    backdrop-filter: blur(50px);
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    gap: 2px;
    color: #fcfcfc;
    padding: 32px;
    border-radius: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    position: relative;
    animation: fadeIn 0.3s ease-out;
    
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.search-button {
    margin-top: 6px;
    cursor: pointer;
    background-color: var(--dominant-color, #4F378B); /* Cor dinâmica */
    color: #fcfcfc;
    padding: 16px 8px;
    border-radius: 12px;
    border: none;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.inputCity{
    background-color: #1717175e;
    margin-top: 12px;
    padding: 16px 8px;
    border-radius: 12px;
    border: 2px solid #2d2d2d;
    width: 100%;
    color: #fcfcfc;
}