.mainContainer {
  display: grid;
  grid-template-columns: 1.4fr 1.6fr;
  min-height: 100vh;
  min-width: 100vw;
}

.conteudo-frontal {
  position: relative;
  z-index: 2;
}

.weatherContainer {
  height: 100%;
  background: #1B0E35;
  background: linear-gradient(266deg, rgba(27, 14, 53, 0) 5%, rgba(27, 14, 53, 0.9) 95%);
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: auto; 
}

.weatherInfo{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  animation: deslizar 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.weatherCityTemp {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
  animation: deslizar 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.weatherCityTemp h1 {
  font-size: 50px;
  color: #fff;
}

.weatherMessageSpan {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.weatherMessage {
  margin-top: 50px;
  font-size: 60px;
  max-width: 350px;
  line-height: 120%;
  animation: deslizar 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}



/* BLUR DO BG */
:root {
  --blur-amount: 12px;
  --blur-fade-start: 0%;
  --blur-fade-end: 80%;
}

.progressive-blur-container {
  position: relative;
  width: 70vw;
  max-width: 800px;
  overflow: hidden;
}

.progressive-blur-container img {
  display: block;
  width: 100%;
  height: auto;
}

.progressive-blur-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backdrop-filter: blur(var(--blur-amount));
  -webkit-backdrop-filter: blur(var(--blur-amount));
  mask-image: linear-gradient(to right,
      black var(--blur-fade-start),
      transparent var(--blur-fade-end)
    );
  -webkit-mask-image: linear-gradient(to right,
      black var(--blur-fade-start),
      transparent var(--blur-fade-end));
}